<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="brain Logo" src="../assets/brain.jpg">
</div>
  
<br>

  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary" routerLink="./play">Play</button>
    </div>
  </div>
  <div class="row">
      <div class="col text-center">
        <button class="btn btn-primary btn-space">Tutorial</button>
      </div>
    </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary btn-space">Settings</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary btn-space">Exit</button>
    </div>
  </div>